{block subcontent}
HALOOO OMEGALUL FAKT ZE JO FUNGUJE TO
{/block subcontent}
{block content}
	<h1 n:block="title">Můj blog</h1>

	{foreach $games as $game}
	<div class="post">
		
		<h2><a href="{link games:show $game->id}">{$game->name}</a></h2>
		
		<b>Description</b>: {$game->description} <br><br>
		<b>Release date</b>: {$game->release_date|date:'F j, Y'} <br>
		<b>Genre</b>: {$game->genre->name} <br><br>
		
	</div>
	{/foreach}
{/block}